<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="TextPub_PostsPath" value="posts" />
    <add key="TextPub_PagesPath" value="pages" />
    <add key="TextPub_SnippetsPath" value="snippets" />
    <add key="TextPub_BasePath" value="../../App_Data" />
  </appSettings>
</configuration>